@page "/tictactoe"

<PageTitle>Tic Tac Toe</PageTitle>

<h3>Tic Tac Toe</h3>



<div class="content">
    @*Create board of rows and columns*@
    <div class="container">

        @for (int row = 0; row < 3; row++)
        {

            for (int col = 0; col < 3; col++)
            {
                // Skapa lyssnare när spelaren klickar på cellen, kalla på funktion
                <div class="cell" @onclick=" () => MakeaMove(row, col)">
                    <h4>@board[row, col]</h4>
                </div>
            }

        }

    </div>
    <!-- Testknapp för att logga till konsolen -->
    <button @onclick="TestButtonClick">Test Button</button>


    <div>
        <button class="btn btn-info shadow">Restart Game</button>
    </div>

</div>
