.container {
    height: 35rem;
    width: 35rem;
    display: grid;
    grid-template-rows: repeat(3, 10rem);
    grid-template-columns: repeat(3, 10rem);
    gap: 5px;
    margin: 0 auto;
}

.cell {
    height: 100%;
    width: 100%;
    background-color: #0A2464;
    cursor: pointer;
   
}

    .cell:hover {
        background-color: #3A0647;
    }

h4 {
    height: 100%;
    font-size: 8rem;
    color: white;
}